html,
body {
  height: 100%;
  font-size: 1em;
  background: url("img/night_sky.jpg") ;
  color: white;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

header,
footer {
  background-color: #865FB7;
  text-align: center;
}

header {
    height: 10%;
    font-size: xx-large;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.shuttle{
  width : 12%;
  height: 55%;
  background: url('img/space-shuttle.png');
  background-size: cover;
}

.left{
  transform: rotate(180deg);
}

main{
  text-align : center;
}

.imgHome{
  width: 100%;
  height: 50%;
  background: url("img/shuttle.jpg");
  background-size: cover;
}

.separator{
  width: 100%;
  position: relative;
  top: -4%;
}

.buttonContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 35%;
}

button{
  width :50%; 
  height : 15%;
  font-size : 1.5rem;
  border-radius: 30%;
  background-color: #865FB7;
  color: white;
  border-right: 5px solid white;
  border-left: 5px solid white;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  box-shadow: 0px 10px 5px black;
}

.buttonClick{
  box-shadow: none;
}


footer {
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* RULES PAGE */

.titleRules{
  font-size: 35px;
  margin : 5%; 
  -webkit-animation: glow 2s ease-in-out infinite alternate;
  -moz-animation: glow 2s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
     from {
      color: #fff;
    text-shadow: 0 0 10px #c03aae, 0 0 20px #c03aae, 0 0 30px #c03aae, 0 0 40px #c03aae, 0 0 50px #c03aae, 0 0 60px #c03aae, 0 0 70px #c03aae, 0 0 90px #c03aae;
  }
  
  to {
     color: gray;
    text-shadow: 0 0 20px #c03aae, 0 0 30px #c03aae, 0 0 40px #c03aae, 0 0 50px #c03aae, 0 0 60px #c03aae, 0 0 70px #c03aae, 0 0 80px #c03aae, 0 1 90px ##c03aae;
  }   
}

.rules{
  text-align: justify;
  margin : 5%;
}

.pIntro{
  font-size: 25px;
}


.pStock{
  font-size: 25px;
}


.pFin{
  font-size: 25px;
}

.challenger{
  font-size: 25px;
}

.fight{
  font-size: 25px;
}
.fight a{
  text-decoration: none;
  color: white;
}
.fight a:visited{
  color: white;
}